   <link rel="stylesheet" href="./readmore.css"> 
  <div class="card">
        
        <div class="card-body">
          <h4 class="card-title">Company Name{{User.username}}</h4>
          <p class="card-text">Company Description</p>
          <button class="btnrm btn-primary">Read Reviews</button>
        </div>
      </div>
    
    <div class="job-card">
      <h2>Job Title{{Job.title}}</h2>
      
      <p>Job Description{{Job.body}}</p>
      <p>Job Location{{Job.location}}</p>
      <p>Job Salary{{Job.salary_range}}</p>
      <p>Job Requirements{{Job.category}}</p>
    
    </div>