 <link rel="stylesheet" href="./usersearched.css">
<div class="cards-containerj">
      <div class="cardj">
        <h2>{{User.username}}</h2>
        <p>{{Qualification.title}}</p>
        <p class="d">
        <a href="#" class="apply-button">User Profile</a></p>
      </div>
      <div class="cardj">
        <h2>{{User.username}}</h2>
        <p>{{Qualification.title}}</p>
        <p class="d">
        <a href="#" class="apply-button">User Profile</a></p>
      </div>
      <div class="cardj">
        <h2>{{User.username}}</h2>
        <p>{{Qualification.title}}</p>
        <p class="d">
        <a href="#" class="apply-button">User Profile</a></p>
      </div>
      <div class="cardj">
        <h2>{{User.username}}</h2>
        <p>{{Qualification.title}}</p>
        <p class="d">
        <a href="#" class="apply-button">User Profile</a></p>
      </div>
    </div> 
  </div>
  <br>
