  <link rel="stylesheet" href="./employer-searched-profile.css"> 
   <div class="card">
        
        <div class="card-body">
          <h4 class="card-title">Employee  Name{{User.username}}</h4>
          <img src="./img/abstract-user-flat-3.png" alt="Company Image">
          <button class="btnrm btn-primary">Contact Employee</button>
        </div>
      
    
    <div class="job-card">
      <h2>About</h2>
      
      <p>Job Description</p>
      <p>{{Qualification.title}}</p>
      <p>{{Qualification.description}}</p>
      <p>{{User.profile}}</p>
      <p>{{User.github_link}}</p>
      <h3>Review{{User.linkedin_link}}</h3>
      
    </div>
