{{#each (slice array 0 3)}}
    

</div>
    <div class="cards-containerj">
      <div class="cardj">
        <h2>{{job.title}}</h2>
        <p>Company Name</p>
        <p>Location{{job.location}}</p>
        <p>Job Description{{job.category}}salary{{job.salary_range}}</p>
        <a href="#" class="apply-button">Apply</a>
      </div>
      {{/each}}
{{!-- </div>
    <div class="cards-containerj">
      <div class="cardj">
        <h2>{{job.title}}</h2>
        <p>Company Name</p>
        <p>Location{{job.location}}</p>
        <p>Job Description{{job.category}}salary{{job.salary_range}}</p>
        <a href="#" class="apply-button">Apply</a>
      </div>
      </div>
    <div class="cards-containerj">
      <div class="cardj">
        <h2>{{job.title}}</h2>
        <p>Company Name</p>
        <p>Location{{job.location}}</p>
        <p>Job Description{{job.category}}salary{{job.salary_range}}</p>
        <a href="#" class="apply-button">Apply</a>
      </div>
      </div>
    <div class="cards-containerj">
      <div class="cardj">
        <h2>{{job.title}}</h2>
        <p>Company Name</p>
        <p>Location{{job.location}}</p>
        <p>Job Description{{job.category}}salary{{job.salary_range}}</p>
        <a href="#" class="apply-button">Apply</a> --}}
      {{!-- </div> --}}